In [1]:
import pandas as pd
import numpy as np

In [4]:
caesarian_df = pd.read_excel("D:/!Delpijozz 22/!KULIAH STIMATA/Perkuliahan 2/8 Kecerdasan Bisnis/UAS/caesarian.xlsx",
                            usecols=['Usia', 'Kelahiran_ke-', 'Waktu_Kelahiran', 'Tekanan_darah', 'Kelainan_jantung', 'Caesarian'], dtype={'Usia': 'int32', 'Kelahiran_ke-': 'int32', 'Waktu_Kelahiran': 'str', 'Tekanan_darah': 'str', 'Kelainan_jantung': 'str', 'Caesarian': 'str'})

In [5]:
caesarian_df.head()

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian
0,22,1,sesuai HPL,Tinggi,Normal,Normal
1,26,2,sesuai HPL,Normal,Normal,caesarian
2,26,2,Prematur,Normal,Normal,Normal
3,28,1,sesuai HPL,Tinggi,Normal,Normal
4,22,2,sesuai HPL,Normal,Normal,caesarian

In [6]:
caesarian_df.shape

(80, 6)

In [7]:
from scipy.sparse import csr_matrix

caesarian_features_df_matrix = csr_matrix(caesarian_features_df.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algoritm= 'brute')
model_knn.fit(caesarian_features_df_matrix)

NameError: name 'caesarian_features_df' is not defined